.input {
    display: flex;
    /* width: 320px; */
    padding: 12px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: white;
    border-radius: 8px;
    font-size: 1.1rem;
    outline: none;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 2px 2px 10px rgba(240, 235, 235, 0.3);
}

.input:focus {
    border-color: #00bcd4;
    box-shadow: 0 0 10px rgba(0, 188, 212, 0.7);
    transform: scale(1.05);
    animation: glow 1s infinite alternate;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 188, 212, 0.3);
    }

    100% {
        box-shadow: 0 0 15px rgba(9, 150, 168, 0.8);
    }
}


@media screen and (min-width: 768px) {
    .input {
        width: 320px;
    }
}