.box {
  background-image: url(../../../public/fon-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  margin: 20px 0px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #118c9c;
}