.box {
  background-image: url(../../../public/fon-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  font-weight: bold;
  margin: 18px 0px;
  text-align: center;
  color: #118c9c;
}