h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.form-search {
  text-align: center;
  padding: 35px 0;
}

.input-search {
  width: 320px;
  outline: transparent;
  padding: 10px 16px;
  margin-bottom: 8px;
  color: #7a7b7c;
  border: 1px solid #808080;
  border-radius: 4px;
}

.input-search:hover {
  border-color: #000
}

.input-search:focus {
  border-color: #cef1fe
}

input,
textarea {
  outline: none;
}