.list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    padding: 10px;
}

.item {
    min-width: 275px;
    align-items: center;
}

.item:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
}

.noContacts {
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    color: #4f038d;
    text-align: center;

    animation: typing 3s steps(20, end) forwards;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 200px;
    }
}